body {
    background-color: #99ffcc;
    font-family: sans-serif;
    width: 100%;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
    margin: 20px 0 auto;
}

form {
    text-align: center;
}