<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../static/madlibs.css">
    <title>Madlibs</title>
</head>
<body>
    <h1>MADLIBS!!</h1>
    <form action="/madlib"> 
        <table>
            <tr>
                <td>
                    <label> Person name:</label>
                        <input type="text" name="person_name">
                </td>
            </tr>
            <tr>
                <td>
                        <label>Color:</label>
                            <select name="color">
                                <option value="red" style="background:red">Red</option>
                                <option value="orange" style="background:orange">Orange</option>
                                <option value="yellow" style="background:yellow">Yellow</option>
                                <option value="green" style="background:green">Green</option>
                                <option value="blue" style="background:blue">Blue</option>
                                <option value="purple" style="background:purple">Purple</option>
                            </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Noun:</label>
                        <input type="text" name="noun">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Adjective:</label>
                        <input type="text" name="adjective">
                </td>
            </tr>
            <tr>   
                <td>
                    <label>Short on adjectives? Try one of ours:<br></label>
                        <input type="checkbox" name="adjective2" value="enormous">Enormous
                        <input type="checkbox" name="adjective3" value="miniscule">Miniscule
                        <input type="checkbox" name="adjective4" value="bombastic">Bombastic
                </td>
            </tr>
            <tr align=right>
                <td>
                    <input type="submit" value="Madlibs!">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>