<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../static/base.css">
    <title>MADLIB</title>
</head>
<body>
    <h1> {{ person_name}}'s Madlibs!</h1>
    <p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
        <br>When {{ person_name }} went to pick it up, it burst into flames in a totally {{ adjective }} way.{% if adjective2 %}<br>The conflagration was {{ adjective2 }}! {% endif %}{% if adjective3 %}<br>Leslie and Henry were very upset over the {{ adjective3 }} disturbance to the classrooms.{% endif %}{% if adjective4 %}<br>All in all, it was just another {{ adjective4 }} day at Hackbright. {% endif %}</p>

</body>
</html>